[Desktop Entry]
Version=1.0
Type=Application
Name=ABRIR DMR2M17
Comment=
Exec=sh ejecutar_DMR2M17.sh
Icon=emacs
Path=/home/pi/V105
Terminal=false
StartupNotify=false
